
nav {
    text-align: center;
    padding: 2.5em;
    color: white;
    background-color: #9b3b5a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

.userInputFields{
    padding: 2em;
    margin: 4em;
    background-color: #9b3b5a;
}

.instructions{
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: white;
}


.formInput{
    text-align: center;
    color: white;
    white-space: pre-line;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    
}
input{
    width: 33%;
    height: 3em;
    box-sizing: border-box;
    margin: 8px 0;
    background-color: #fff2f6;
}

.buttons{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   
}

footer{
    text-align: center;
    padding: 0.5em;
    color: white;
    background-color: #9b3b5a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    opacity: 80%;
}

img{
    margin: 10px auto 20px;
    display: block;
    max-height: 150px;
    max-width: 200px
  
}